.complete {
  background-color: #5cb85c;
  border-top-right-radius: none;
}

.remove {
  background-color: #a11533;
}

.list-buttons button:first-child {
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

.list-buttons button:last-child {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}
