.container {
  height: 30vh;
  width: 100vw;

  background-color: #1f1f35;
  display: flex;
  justify-content: space-between;

  border-bottom-right-radius: 70px;
  padding: 20px;
}

.icon {
  width: 24px;
  height: 24px;
  color: #ffff;
  cursor: pointer;
}

.avatar {
  align-self: center;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
