.login-container{
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container form{
  border: 1px solid #eee;
  box-shadow: 0 0 12px #eee;
  padding: 20px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 18px;
}

.login-container form h1{
  align-self: center;
  text-transform: uppercase;
}

