* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.center h3 {
  margin-top: 20px;
}

.center .title {
  color: #1f1f35;
  font-weight: bold;
  font-size: 24;
}
