.button {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  position: fixed;
  bottom: 20px;
  right: 30%;
  background-color: #1f1f35;
  border-width: 0;
  cursor: pointer;
  overflow: hidden;
}
